@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, small, strike, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  background: none;
}

/* Embeber iframe responsive */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #212121;
}

p {
  font-size: 0.875em;
  margin-bottom: 0.875em;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: clamp(2em, 8.5vw, 3.125em);
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 0.8em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 0.625em;
}

h4 {
  font-size: clamp(1.1em, 3vw, 1.5em);
  margin-top: 0em;
  margin-bottom: 0.625em;
}

h5 {
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: 0.625em;
}

small, .text_small {
  font-size: 0.8em;
  margin-top: 0em;
  margin-bottom: 0.625em;
}

.btn {
  display: block;
  background: transparent;
  color: #FCFCFC;
  text-decoration: none;
  padding: 0.625em 1.875em;
  transition: all ease-out 0.5s;
  border: 1px solid #FCFCFC;
  border-radius: 0.625em;
}
.btn:hover {
  color: #212121;
  box-shadow: inset 0 -100px 0 0 #FCFCFC;
}
.btn:active {
  transform: scale(0.9);
}

.btn_view {
  display: inline-block;
  background: transparent;
  color: #212121;
  text-decoration: none;
  padding: 0.625em 1.875em;
  transition: all ease-out 0.5s;
  border: 1px solid #212121;
  border-radius: 0.625em;
  width: fit-content;
  margin-bottom: 0.5em;
}
.btn_view:hover {
  color: #FCFCFC;
  box-shadow: inset 0 -100px 0 0 #212121;
}
.btn_view:active {
  transform: scale(0.9);
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.625em 0em;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 768px) {
  .header {
    position: absolute;
  }
}
.header__logo {
  width: 7em;
}
.header__button {
  background: none;
  display: none;
}
@media screen and (max-width: 768px) {
  .header__button {
    display: block;
    cursor: pointer;
  }
}
.header__svg {
  height: 3em;
  fill: #FCFCFC;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    overflow: hidden;
    transition: all ease 0.5s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    pointer-events: none;
  }
  .nav.active {
    height: 40vh;
    opacity: 1;
    pointer-events: auto;
  }
}
.nav__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.nav__li {
  margin-left: 2em;
}
@media screen and (max-width: 768px) {
  .nav__li {
    margin: 2em 0;
  }
}
.nav__a {
  text-decoration: none;
  color: #FCFCFC;
  font-size: 0.875em;
}
.nav__a:hover {
  text-decoration: underline;
}
.nav__a-btn {
  font-size: 0.875em;
}

.hero {
  background-image: url(../img/fondo.jpg);
  background-attachment: fixed;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FCFCFC;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.hero__text {
  max-width: 60ch;
  font-weight: 600;
  padding: 8% 0;
  animation: fadeIn 1s forwards;
}
@media screen and (max-width: 768px) {
  .hero__text {
    width: 100%;
  }
}
.hero__btn {
  width: fit-content;
  margin-top: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#arrow {
  position: absolute;
  bottom: 1em;
}

#hero_arrow {
  width: 1.5em;
  fill: #FCFCFC;
  transition: all ease 0.5s;
  opacity: 0.5;
}
#hero_arrow:hover {
  transform: translateY(-5px);
  opacity: 1;
}

.proyect {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.proyect__gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 2000px;
}
.proyect__block {
  width: 33.3%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .proyect__block {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .proyect__block {
    width: 100%;
  }
}
.proyect__block img {
  object-fit: cover;
  filter: grayscale(100%);
  transform: scale(1);
  transition: all ease 0.5s;
}
@media screen and (max-width: 768px) {
  .proyect__block img {
    filter: none;
  }
}
.proyect__overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  bottom: 0px;
  opacity: 0;
  padding: 0 1em;
  color: #212121;
}
@media screen and (max-width: 768px) {
  .proyect__overlay {
    opacity: 1;
  }
}

.proyect__block:hover img {
  filter: none;
  transform: scale(1.1);
}

.proyect__block:hover .proyect__overlay {
  animation-name: slideInUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 768px) {
  .proyect__block:hover .proyect__overlay {
    animation: none;
  }
}

#proyect_contact {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  #proyect_contact {
    padding: 50% 0;
  }
}
#proyect_contact a {
  text-decoration: none;
  width: 70%;
  text-align: center;
  color: #FCFCFC;
  transition: all ease 0.5s;
}
#proyect_contact a:hover {
  transform: scale(1.1);
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.contact {
  padding-bottom: 7.5em;
}
.contact__container {
  width: 100%;
  padding: 3.125em 0em 3.125em 0em;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
}
@media screen and (max-width: 768px) {
  .contact__container {
    flex-flow: column nowrap;
    justify-content: center;
  }
}
.contact_group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.contact__block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.contact__block a {
  transition: all ease 0.5s;
}
.contact__block a:hover {
  transform: translateY(-5px);
}
.contact__icon {
  width: 2.5em;
  margin: 0.625em 0;
  fill: #212121;
}
.icon_rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}
.icon_rrss a {
  transition: all ease 0.5s;
}
.icon_rrss a:hover {
  transform: translateY(-5px);
}

.form_block {
  background-color: #212121;
  padding: 1em;
  border-radius: 0.625em;
  flex: 2;
}

#form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

#name {
  width: 100%;
  border-bottom: 1px solid #FCFCFC;
  margin-bottom: 1em;
  padding: 1em;
  color: #FCFCFC;
}

#name:focus {
  color: #FCFCFC;
}

#email {
  width: 100%;
  border-bottom: 1px solid #FCFCFC;
  margin-bottom: 1em;
  padding: 1em;
  color: #FCFCFC;
}

#message {
  min-height: 30em;
  max-height: 40em;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 1em;
  width: -webkit-fill-available;
  resize: none;
}

#checkbox {
  cursor: pointer;
}

#checkbox_text {
  color: #FCFCFC;
}
#checkbox_text a {
  color: #FCFCFC;
}

#submit {
  width: fit-content;
  cursor: pointer;
  margin-top: 1em;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #FCFCFC;
}

.footer {
  background-color: #212121;
  text-align: center;
  color: #FCFCFC;
  padding: 1em 0;
}
.footer__p {
  margin-bottom: 0;
}
.footer .icon_rrss {
  justify-content: center;
  gap: 1em;
}
.footer .icon_rrss svg {
  fill: #FCFCFC;
}

body {
  background-color: #FCFCFC;
}

section {
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .wrapper {
    width: 95%;
  }
}

.container_title {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0em auto;
  margin-bottom: 3.75em;
  text-align: center;
}
.container_title_h1 {
  font-size: clamp(1em, 9vw, 3.125em);
  color: #212121;
  margin: 0;
  position: absolute;
}
.container_title_p {
  font-size: clamp(2em, 12vw, 6em);
  margin: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #FCFCFC;
  text-shadow: 0 0 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121;
}

.description .container_title {
  margin-bottom: 0;
  padding: 5em 0;
}

.description__strong {
  font-size: 1rem;
  margin-bottom: 1em;
}
.description__p {
  max-width: 70ch;
  margin-bottom: 2em;
}
.description__p p {
  margin-bottom: 0;
}
.description__ol {
  padding-left: 1em;
}

#visual {
  padding-top: 0;
}

.visual__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .visual__container {
    flex-direction: column;
  }
}
.visual__video {
  margin: 0 auto;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .visual__video {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
