---
import Layout from "@layouts/Layout.astro"
import Hero from "@sections/Hero.astro"

import ProyectGroups from "@sections/ProyectGroups.astro"
---

<Layout title="Welcome to Astro.">
  <Hero />
  <ProyectGroups />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur placeat nemo repellat
    aut enim commodi adipisci nulla atque nam vitae architecto in modi, delectus excepturi, labore
    debitis dignissimos! Qui necessitatibus nulla nostrum pariatur odit illum harum. Saepe, ea
    explicabo accusantium facere, vel recusandae perferendis quos facilis atque aperiam
    voluptatibus.
  </p>
</Layout>
