---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <h1 class="text-9xl text-red-400">titulo</h1>
  <h1 class="">Título H1 sin clase</h1>
  <h2>Título H2</h2>
  <h3>Título H3</h3>
  <h4>Título H4</h4>
  <h5>Título H5</h5>
  <p>Este es un párrafo.</p>
  <small>Texto pequeño.</small>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
  <p id="about-me">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
  <p id="contact">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae earum laboriosam,
    pariatur, porro aperiam doloremque ratione molestias nostrum nemo quod eveniet, unde enim?
    Minima saepe maxime est dignissimos odio voluptatum animi facilis odit exercitationem
    praesentium hic dolor, vel itaque! Qui minus architecto vero blanditiis recusandae ad, sapiente
    repudiandae iure tenetur odit provident eligendi sint dolorem natus reprehenderit explicabo
    neque doloribus. Ea quisquam tempora eum totam, corrupti eius ad deserunt consequuntur ullam
    nemo fugit, voluptatum molestias repudiandae doloremque necessitatibus in dolor eos ut repellat
    libero. At fugit officia consectetur eligendi eum animi ducimus corrupti sapiente nulla! Omnis
    ipsa reprehenderit a.
  </p>
</Layout>
