---
import Title from "@components/Title.astro"
import { SectionIds } from "@const/menuItems"
import { proyectGroupContent } from "@const/portfolioData"
---

<section class="mt-20" id={SectionIds.PROJECT_GROUP}>
  <Title title={proyectGroupContent.title} />
</section>
