---

---

<div
  class="prose prose-p:mx-0 prose-p:mb-1 prose-p:mt-0 prose-p:leading-5 prose-a:no-underline prose-ul:m-0 prose-li:m-0 prose-li:leading-5 text-black no-underline"
>
  <slot />
</div>

<script>
  document.querySelectorAll(".prose a").forEach((link) => {
    const linkText = link.textContent
    if (!linkText) return
    const textNode = document.createTextNode(linkText)
    if (link.parentNode) {
      link.parentNode.replaceChild(textNode, link)
    }
  })
</script>
